/* 
 * Colores
 *     La mayoria de las pantallas funcionan con un modo de color aditivo
 *     la suma de rgb da como resultado un blanco
 *     tenemos varias formas de dar color en css
 *
 *     Importante: recordar que existe el color transparente
 *
 *     CurrentColor: es una palabra clave que se puede usar en lugar de cualquier
 *     valor de color y usara el valor ya sea establecido o heredado en la propiedad color.
 *
 *     RGB/RGBA
 *     en el modo rgb tenemos tres canales (red, green, blue) y 
 *     tenemos 8 bits de color por canal
 *     (cada bit tiene dos posibles valores 0 ò 1)
 *     lo que significa que tenemos 2^8 posibles valores que van desde 0 a 255
 *
 *     esto nos da un total de 255 * 255 * 255 = 16.581.375
 *     sintaxis = rgba(R, G, B)
 *     todos los canales a 0 = negro
 *     todos los canales a 255 = blanco
 *
 *     gama de grises = tres canales mismo valor
 *     gris puro = rgb(128, 128, 128)
 *
 *     HEXADECIMAL 
 *     el sistema hexadecimal es un sistema basado en 16 valores del 0 - 15
 *     utiliza los digitos del 0 al 9
 *     y las letras de la A a la F
 *
 *     Se compone de 16 caracteres en parejas ya que 16 * 16 = 256
 *     0 1 2 3 4 5 6 7 8 9 A B C D F
 *     0 1 2 3 4 5 6 7 8 9 A B C D F
 *
 *     HSL/HSLA
 *     el modo de color HSL es mas intuitivo para los humanos.
 *     su nombre viene de las siglas:
 *     Hue (tono)
 *     Saturation (saturacion)
 *     lightnees (luminancia)
 *
 *     el primer valor es el angulo en el ciclo cromatico donde 0 y 360
 *     sera el color rojo, hay ciertos valores que pueden servir de referencia
 *     para relacionar mejor los colores con su angulo.
 *     0 => rojo
 *     60 => amarillo
 *     120 => verde
 *     180 => cian
 *     240 => azul
 *     300 => magenta
 *
 *     el segundo valor es la saturacion o intensidad del color
 *     0% => gris
 *     100% => color puro
 *     
 *     el tercer valor es la luminosidad del color
 *     0% => negro o nada de luz
 *     100% => blanco o luz maxima
 *
 *     Nota Importante: aunque el valor de saturacion o luminancia 
 *     sea 0% hay que ponerlo para que funcione.
 *
 *     El modo HSL tambien adminte transparencia y su sintaxis
 *     es la misma que la del modo RGB.
 *     tenemos dos sintaxis disponibles
 *     hsla(h, s, l, a)
 *     hsl(h s l / a)
 *     En ambos casos el valor de alpha va de 0 a 1
 * 
 * */

body {
    margin: 0;
    color: orange;
    /* background-color: gray;  */
    background-color: hsl(0, 100%, 40%);
}

/* creamos triangulo */
.box {
    border-right: 100px solid red;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
}

.box2 {
    border-top: 400px solid lightcoral;
    border-left: 1000px solid transparent;
    border-right: 1000px solid transparent;
}

/* property CurrentColor */

.main {
    color: green;
    /* hereda el color mas cercano a su contexto currentcolor*/
    /* background-color: currentColor; */
    /* hereda el background inherin */
    /* background-color: inherit; */
}

.box3 {
    width: 300px;
    height: 300px;
    background-color: lightsteelblue;
    border: 5px solid currentColor;
}

/* property rgb & rgba */

.box4 {
    width: 400px;
    height: 400px;
    /* background-color: rgb(33 211 177); */
    background-color: hsl(120 50% 50% / 0.3);
    /* background-color: rgb(100, 200, 150); */
    /* background-color: rgb(0 0 0 / 0.3); */
    box-shadow: 20px 10px 20px rgb(0 0 0 / 0.4);
}
